.top {
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
}
.NavItems:hover {
  background: aqua;
  font-weight: bold;

  color: black;
  transition: all 0.6s ease-in;
}
.active {
  background: aqua;
  color: black;
  font-weight: bold;
}
.sideBarWrap {
  background-color: black;
  line-height: 3rem;
  color: white;
  /* display: block; */
  height: 100vh;
}
