* {
    margin: 0;
    padding: 0;
    text-decoration: none;

}

.containers {
    height: 100vh;
}



.rightBar {
    overflow-y: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

main {

    width: 100%;
    /* padding: 20px; */
}